@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
#cartaPoker{
    border-radius: 21px;
}


  @keyframes girar {
  0% {
    transform: perspective(400px) rotateY(90deg); 
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateY(0deg);  
    opacity: 1;
  }
}

.anim-girar {
  animation: girar 0.6s ease-out forwards;
}